h1 {
  text-align: center;
}

h1:not(:first-child) {
  margin-top: 50px;
}

.chart{
  width: 600px;
  height: 100%;
  background-color: #f7f7f7;
  margin: 25px auto;
}
.ctr{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h3{
  text-align: center;
}