body{
  background-color: #f7f7f7;
}

#chart{
  margin: 25px auto;
  max-width: 1000px;
  position: relative;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}